<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jkm.com.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true">
        <activity
            android:name=".RecipeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeDetailActivity"
            android:label="@string/recipe_detail_label"
            android:launchMode="singleTop"
            android:parentActivityName=".RecipeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StepDetailActivity"
            android:label="@string/step_detail_label"
            android:parentActivityName=".RecipeDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".widget.RecipeWidgetConfigurationActivity"
            android:label="@string/widget_configuration_label"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_provider_info" />
        </receiver>

        <provider
            android:name=".data.generated.RecipeProvider"
            android:authorities="@string/content_authority"
            android:exported="true" />

        <service
            android:name=".widget.RecipeWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>
